<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

     <add key="projectId" value="1" />

    <add key="upgradeUsername" value="Justbeingjustin" />
    <add key="upgradePassword" value="P@ssw0rd!" />
    <add key="authBaseUrl" value="http://localhost:61920/api/auth/token" />
    <add key="projectsBaseUrl" value="http://localhost:61920/api/Projects/" />
  </appSettings>
</configuration>
